flows_typeC.json
[{"id":"d38bac65.b0232","type":"mqtt in","z":"4b8df021.4f04b","name":"rasDispMqtt","topic":"out/#","qos":"2","datatype":"auto","broker":"476eebfc.507064","x":200,"y":100,"wires":[["8d4498ba.3865a8"]]},{"id":"2712e77f.02db28","type":"debug","z":"4b8df021.4f04b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":100,"wires":[]},{"id":"8d4498ba.3865a8","type":"json","z":"4b8df021.4f04b","name":"","property":"payload","action":"","pretty":false,"x":540,"y":100,"wires":[["2712e77f.02db28"]]},{"id":"dd93fba0.dbce88","type":"mqtt out","z":"4b8df021.4f04b","name":"","topic":"in/260119E7","qos":"","retain":"","broker":"476eebfc.507064","x":530,"y":260,"wires":[]},{"id":"cd34013b.f960f","type":"inject","z":"4b8df021.4f04b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":\"31303145\",\"port\":20,\"time\":\"immediately\"}","payloadType":"json","x":210,"y":260,"wires":[["1599e86.4486c18","dd93fba0.dbce88"]]},{"id":"1599e86.4486c18","type":"debug","z":"4b8df021.4f04b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":360,"wires":[]},{"id":"829d312c.1ea02","type":"comment","z":"4b8df021.4f04b","name":"Receiving data from node","info":"","x":210,"y":40,"wires":[]},{"id":"9cd00a2d.fdf838","type":"comment","z":"4b8df021.4f04b","name":"Sending data to node","info":"","x":200,"y":200,"wires":[]},{"id":"476eebfc.507064","type":"mqtt-broker","z":"","name":"rasDispMqtt","broker":"192.168.1.112","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]